<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RadoslawRatesMail1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#ffffff " style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <img src="https://zapodaj.net/images/7972ef4b032ad.jpg" alt="Creating Email Magic" width="300" height="300" style="display: block;" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #000000; font-family: 'Times New Roman', sans-serif; font-size: 16px;">
                                    <b>
                                        <br/>
                                        <br/>
                                        
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #000000; font-family: 'Times New Roman', sans-serif; font-size: 16px; line-height: 20px;">
                                    The strange Chuck's joke shown down below... :)
                                    <br>
                                    <br>
                                    <span class="apple-link" style="color: #000000; font-size: 16px; text-align: center; "th:text="${message}"></span>
                                    <br/>
                                    <br/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#9A9A9A    " style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: 'Times New Roman', sans-serif; font-size: 14px;" width="75%">
                                    Go to see my project on GitHub :)<br/>
                                    <a href="#" style="color: #ffffff;"><font color="#ffffff"></font></a> Created by Radoslaw Lazur - 2020.
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="font-family: 'Times New Roman', sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="https://github.com/radoslaw-lazur" style="color: #ffffff;">
                                                    <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                            <td style="font-family: 'Times New Roman', sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="https://www.linkedin.com/in/rados%C5%82aw-%C5%82azur-050597137/" style="color: #ffffff;">
                                                    <img src="https://zapodaj.net/images/4364877582725.png" alt="LinkedIn" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>